<section class="h-100 gradient-form" style="background: #eee;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img  src="../../../assets/dist/img/eagle.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Papeleria Eagle</h4>
                  </div>
  
                  <!-- <form> -->

                    <p>¡Bríndanos más información!</p>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example11">Email</label>
                      <input type="email"  class="form-control" placeholder="Digite su usuario" [(ngModel)]="email"/> 
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example22">Password</label>
                      <input type="password"  class="form-control" placeholder="Digite su contraseña" [(ngModel)]="clave" />
                    </div>

                    <div class="form-outline mb-4" *ngIf="error==true">
                      <span style="color: red;">Email o Contraseña Incorrecto</span>
                    </div>

                    <!-- Recaptchar -->
                    <re-captcha [siteKey]="'6LfRALspAAAAAKiCfF8FZxyrysxVB6juEgmC_BuY'"></re-captcha>
                    <!-- //Recaptchar -->

                    <div  class="text-center pt-1 mb-5 pb-1">
                      <input type="button" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" value="Iniciar Sesion" (click)="consulta('')" >
                    </div>
                    
                  <!-- </form> -->
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Somos más que una empresa</h4>
                  <p class="small mb-0"> líder de suministros de oficina y papelería, ofreciendo productos de alta calidad a precios competitivos y brindando un servicio excepcional..</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- /.login-box -->
