

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Usuarios</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Usuarios</li>
              </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- <section class="content" >
    <div class="container-fluid">
    </div>
</section> -->

<section >
  <!-- Contenido -->
 <div class="container-fluid">
   <hr>

    <!-- Botor Insertar -->
   <input type="button" value=" Insertar Usuario" class="btn btn-warning" (click)="mostar_form('mostrar')" *ngIf="botones_form==false">
   <hr *ngIf="botones_form==false">
   
   <!-- Formulario Insertar -->
   <div id="formulario" *ngIf="mform == true">
     
       <div class="row">
         <div class="col-lg-6">
           <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="obj_usuario.nombre">
           <span style="color: red;" *ngIf="validar_nombre == false"> Usuario</span>
         </div>
         <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Cedula" [(ngModel)]="obj_usuario.cedula">
          <span style="color: red;" *ngIf="validar_cedula == false"> Cedula</span>
        </div>
         
       </div>
       <br>

       <div class="row">
         <div class="col-lg-6">
           <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="obj_usuario.telefono">
           <span style="color: red;" *ngIf="validar_telefono == false"> Telefono</span>
         </div>
         <div class="col-lg-6">
           <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="obj_usuario.direccion">
           <span style="color: red;" *ngIf="validar_direccion == false"> Direccion</span>
         </div>
       </div>
       <br>

       <div class="row">
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Correo" [(ngModel)]="obj_usuario.correo">
          <span style="color: red;" *ngIf="validar_correo == false"> Correo Electronico</span>
        </div>
        <div class="col-lg-6">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="obj_usuario.password">
          <span style="color: red;" *ngIf="validar_password == false"> Contraseña</span>
        </div>
          
      </div>
      <br>

      <div class="row">
        <div class="col-lg-6">
          <select class="form-control form-select" [(ngModel)]="obj_usuario.foidrol">
            <option value="0" label="Seleccione Rol" selected="selected">Seleccione Rol</option>
            <option *ngFor="let itemrol of roles" value="{{itemrol.id_rol}}">{{itemrol.nombre_rol}}</option>
          </select>
           <span style="color: red;" *ngIf="validar_foidrol== false"> Selecciona una Rol</span>
         </div> 
         <div class="col-lg-3">
          <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('guardar')" *ngIf="botones_form==false">
          <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" (click)="validar('editar')" *ngIf="botones_form==true">
       </div>
       <div class="col-lg-3">
        <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;" (click)="mostar_form('no mostrar')">
     </div>
      </div>
      <br>




   </div>
     <hr *ngIf="botones_form==true">


     <!-- Tabla Consultar -->
     <div id="tabla">
       <div class="row">
         <div class="col-lg-1"></div>
         <div class="col-lg-11">
         <div class="table-responsibe"> <!-- contenido tabla -->
             <table class="table">
                 <tr>
                   <th>Codigo</th>
                   <th>Nombre</th>
                   <th>Cedula</th>
                   <th>Telefono</th>
                   <th>Direccion</th>
                   <th>Correo</th>
                   <!-- <th>Contraseña</th> -->
                   <th>Rol</th>
                   <th>Acciones</th>
                 </tr> 
                 <tr *ngFor="let item of usuario">
                   <td>{{item.id_usuario}}</td>
                   <td>{{item.nombre}}</td>
                   <td>{{item.cedula}}</td>
                   <td>{{item.telefono}}</td>
                   <td>{{item.direccion}}</td>
                   <td>{{item.correo}}</td>
                   <!-- <td>{{item.password}}</td> -->
                   <td>{{item.rol}}</td>
                   <td>
                     <span class="bi bi-pencil-fill" style="color: blue; cursor: pointer" title="Editar" (click)="cargar_datos(item, item.id_usuario)"></span>
                     <span class="bi bi-trash3-fill" style="color: red; cursor: pointer" title="Eliminar" (click)="eliminar(item.id_usuario)"></span>
                   </td>
                 </tr>
             </table>
         </div>
         </div>
         <!-- <div class="col-lg-1"></div> -->
       </div>
     </div>  <!-- /Tabla -->

 </div> <!-- Div Principla contenido -->
</section>
